<p id="notice"><%= notice %></p>

<h1>Baby Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Boy</th>
      <th>Girl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baby_names.each do |baby_name| %>
      <tr>
        <td><%= baby_name.name %></td>
        <td><%= baby_name.boy %></td>
        <td><%= baby_name.girl %></td>
        <td><%= link_to 'Show', baby_name %></td>
        <td><%= link_to 'Edit', edit_baby_name_path(baby_name) %></td>
        <td><%= link_to 'Destroy', baby_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baby Name', new_baby_name_path %>
